{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Django Homepage</title>
    <link rel="stylesheet" href="{% static 'css/steam1.css' %}">
</head>
<body>
    <div class="top-left-box">
        <a class="top-left-button" href="/allgames">All discount's games</a>
        <a class="top-left-button" href="/200grn"> Games from 200 UAH</a>
        <a class="top-left-button" href="/100grn">Games from 100 UAH</a>
        <a class="top-left-button" href="/test">TESTIN'</a>
    </div>

    <div class="header">
        <h1>Welcome to my Django homepage!</h1>
    </div>

    <div class="content">
        <p>This is a simple example of a Django homepage with a background image.</p>
    </div>
</body>
</html>


